body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(21, 21, 24);
    color: rgb(226, 226, 226);
}
h1{
    font-size: 60px;
}
p{
    font-size: 18px;
    line-height: 40px;
}
div{
    width: 80%;
    background-color: rgb(18, 39, 39);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,.2);
}
code{
    background-color: rgb(39, 39, 39);
    width: fit-content;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}